{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <style>
      .dataTables_wrapper, .dataTables_scroll {
          width: 90% !important;
      }
      .disabled{
        cursor: not-allowed;
        color: gray !important;
      }
    </style>
{% endblock %}

{% block content %}

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
  <p class="navbar-brand" style="cursor: default;" href="{{ url_for('views.emprendimientos_views.emprendimiento_home', id=emprendimiento.id_) }}">{{emprendimiento.nombre}}</p>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.productos_views.productos') }}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.insumos_views.insumos') }}">Insumos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('views.proveedores_views.proveedores') }}">Proveedores y Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.ventas_views.crear_ventas') }}">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.clientes_views.clientes') }}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.costos_views.costos') }}">Costos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.informes_views.informes') }}">Informes y Estadísticas</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mi cuenta <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.editar') }}">Mi usuario</a>
          <a class="dropdown-item" href="{{ url_for('views.emprendimientos_views.emprendimientos') }}">Mis emprendimientos</a>
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.login') }}">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container justify-content-start" style="width: 80%;">

  <br>

  <div class="row">
    <h4>Pedidos de {{proveedor.nombre}}</h5>
  </div>

  <br>

  <table class="table table-hover w-100" id="pedidosTable">
    <thead class="info-color white-text">
      <tr>
        <th class="text-center">Fecha Confección</th>
        <th class="text-center">Fecha de Recepción</th> 
        <th class="text-center">Estado</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
    </thead>
    
    {% if pedidos %}
      {% for pedido in pedidos %}
      <tr>
        <td class="text-center">{{ pedido.fecha_confeccion}}</td>
        <td class="text-center">{{pedido.fecha_recepcion or '--'}}</td>
        <td class="text-center" id="estado{{pedido.id_}}">{{pedido.estado}}</td>
        <td class="text-center"><p class="btn btn-info" style="width: 3vw; height: 5vh; padding: 1.2vh; text-align: center;" id="detalle{{pedido.id_}}"><i class="fas fa-info-circle"></i></p></td>
        <td class="text-center"><a class="btn btn-success" style="width: 3vw; height: 5vh; padding: 1.2vh; text-align: center;" name="recibido" id="modificar_estado{{pedido.id_}}"><i class="fas fa-check"></i></a></td>
        <td class="text-center"><a class="btn btn-warning" style="width: 3vw; height: 5vh; padding: 1.2vh; text-align: center;" name="pendiente" id="modificar_estado{{pedido.id_}}"><i class="far fa-clock"></i></a></td>
        <td class="text-center"><a class="btn btn-danger" style="width: 3vw; height: 5vh; padding: 1.2vh; text-align: center;" name="cancelado" id="modificar_estado{{pedido.id_}}"><i class="fas fa-ban"></i></a></td>
        
      </tr>
      {% endfor %}
    {% endif %}
  </table>

  <div class="row h-25 d-flex align-items-center flex-column">
    <div class="round-button">
      <div class="round-button-circle">
        <a class="round-button" href="{{ url_for('views.pedidos_views.crear_pedido', proveedor_id = proveedor.id_) }}"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <p>Crear pedido</p>
  </div>

</div>

<!-- MODAL DETALLE -->
<div class="modal fade" id="modal-pedido-detalle" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for pedido in pedidos %}
        <table class="table" id="tableLineaPedido{{pedido.id_}}">
          <tr>
            <th class="text-center">Artículo</th>
            <th class="text-center">Cantidad</th>
          </tr>
          {% for linea_pedido in pedido.lineas_pedido %}
            <tr>
              <td class="text-center">{{linea_pedido.nombre_articulo}}</td>
              <td class="text-center">{{linea_pedido.cantidad}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ALERT -->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Error</h3>
        <h4 id='modal-alert-text'></h4>
      </div>
    </div>
  </div>
</div>

<!-- MODAL MARCAR RECIBIDO -->
<div class="modal fade" id="modal-marcar-recibido" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="flashes">
        <p>Si se marca al pedido como recibido, se actualizará el stock de los articulos pedidos y no se podrá deshacer.</p>
        <form class="main-form" method="POST" action="{{ url_for('api.pedidos_api.marcar_recibido') }}" enctype="multipart/form-data">
          <input  type="hidden" name="id_pedido" />
          <div class="row">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="form-submit btn btn-primary .btn-sm" id="finalizar" type="submit">Marcar recibido</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL MARCAR PENDIENTE -->
<div class="modal fade" id="modal-marcar-pendiente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="flashes">
        <p>¿Desea marcar el pedido como pendiente de entrega?</p>
        <form class="main-form" method="POST" action="{{ url_for('api.pedidos_api.marcar_pendiente') }}" enctype="multipart/form-data">
          <input  type="hidden" name="id_pedido" />
          <div class="row">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="form-submit btn btn-primary .btn-sm" id="finalizar" type="submit">Marcar pendiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL MARCAR CANCELADO -->
<div class="modal fade" id="modal-marcar-cancelado" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="flashes">
        <p>Desea cancelar el pedido? La acción puede ser revertida</p>
        <form class="main-form" method="POST" action="{{ url_for('api.pedidos_api.marcar_cancelado') }}" enctype="multipart/form-data">
          <input  type="hidden" name="id_pedido" />
          <div class="row">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button class="form-submit btn btn-primary .btn-sm" id="finalizar" type="submit">Marcar cancelado</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/pedidos.js') }}"></script>
{% endblock %}