{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
  <p class="navbar-brand" style="cursor: default;"><h3>E!</h3></p>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
  
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mi cuenta <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.editar') }}">Mi usuario</a>
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.login') }}">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="row h-20">
    <h2>Mis emprendimientos</h2>
  </div>

  <br><br>

  <div class="row h-50 w-50">
  
  {% for emprendimiento in emprendimientos %}
  <div class="row h-25 w-100">
    <div class="card h-100 w-100">
      <a class="h-100" href="{{ url_for('views.emprendimientos_views.emprendimiento_home', id=emprendimiento.id_) }}">
      <div class="card-body d-flex justify-content-center align-items-center h-100">
        <h3 class="card-title text-center">{{emprendimiento.nombre}}</h3>
      </div>
    </a>
    </div>
  </div>
  {% endfor %}
  
  </div>

  <div class="row h-25 d-flex align-items-center flex-column">
    <div class="round-button">
      <div class="round-button-circle">
        <a class="round-button" id="crear-emprendimiento"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <p>Agregar nuevo emprendimiento</p>
  </div>

  <hr>

</div>

<!-- MODAL ALERT -->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" id="flashes">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
      </div>
      </div>
  </div>
</div>

<!-- MODAL FORM -->
<div class="modal fade" id="modal-crear-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="flashes">
        <form class="main-form" method="POST" action="{{ url_for('api.emprendimientos_api.emprendimiento_dispatcher') }}" enctype="multipart/form-data">     
          <input  type="hidden" name="_method"  value="POST"/>
          <input  type="hidden" name="id_"/>
      
          <div class="row">
              <div class="md-form col-6">
                  <label class="form-label">Nombre emprendimiento</label>
                  <input class="form-control" type="text" name="nombre" required />
              </div>
          </div>
          <div class="row">
              <div class="md-form col-6">
                  <label class="form-label">Margen de ganancia</label>
                  <input class="form-control" type="number" step="0.01" name="margen_ganancia" required />
              </div>
          </div>
      
          <div class="row">
              <button class="form-submit btn btn-primary .btn-sm" id="finalizar" type="submit">Crear emprendimiento</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/emprendimientos.js') }}"></script>
{% endblock %}