{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <style>
      img{
        width: 80%;
      }
      .container{
          height: auto;
      }
    </style>
{% endblock %}

{% block content %}

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
    <p class="navbar-brand" style="cursor: default;" href="{{ url_for('views.emprendimientos_views.emprendimiento_home', id=emprendimiento.id_) }}">{{emprendimiento.nombre}}</p>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.productos_views.productos') }}">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.insumos_views.insumos') }}">Insumos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.proveedores_views.proveedores') }}">Proveedores y Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.ventas_views.crear_ventas') }}">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.clientes_views.clientes') }}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.costos_views.costos') }}">Costos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('views.informes_views.informes') }}">Informes y Estadísticas</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Mi cuenta <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="{{ url_for('views.usuarios_views.editar') }}">Mi usuario</a>
            <a class="dropdown-item" href="{{ url_for('views.emprendimientos_views.emprendimientos') }}">Mis emprendimientos</a>
            <a class="dropdown-item" href="{{ url_for('views.usuarios_views.login') }}">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <h2>Informe de clientes: {{cliente.nombre}}</h2>
    </div>

    <br>

    <div class="row">
        <h4> {{fecha_inicio}} a {{fecha_fin}}</h4>
    </div>

    <br>

    <div class="row w-100">

      <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{cantidad_compras}}</h4>
                <p class="card-text">Cantidad de compras</p>
            </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ "${:,.0f}".format(monto_comprado) }}</h4>
                <p class="card-text">Monto comprado</p>
            </div>
        </div>
      </div>

      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">{{frecuencia_compra}} días</h4>
                  <p class="card-text">Frecuencia de compra</p>
              </div>
          </div>
      </div>
      
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">{{porcentaje_ventas|round(2, 'floor')}}%</h4>
                  <p class="card-text">Porcentaje sobre ventas totales</p>
              </div>
          </div>
      </div>
  </div>
    
  <br>

  {% if no_cliente == False %}
  <div class="row">
    <h4>Flujo de compras</h4>
  </div>
  <div class="row">
    <img src='/static/images/informes/clientes_compras.png' alt="Chart">
  </div>
  
  {% else %}
  <div class="row">
      <p>No hay ventas registradas para el cliente en este período</p>
  </div>
  {% endif %}
        
</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/informes.js') }}"></script>
{% endblock %}