{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <style>
      .dataTables_wrapper, .dataTables_scroll {
          width: 70% !important;
      }
    </style>
{% endblock %}

{% block content %}

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
  <p class="navbar-brand" style="cursor: default;" href="{{ url_for('views.emprendimientos_views.emprendimiento_home', id=emprendimiento.id_) }}">{{emprendimiento.nombre}}</p>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.productos_views.productos') }}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.insumos_views.insumos') }}">Insumos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.proveedores_views.proveedores') }}">Proveedores y Pedidos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('views.ventas_views.crear_ventas') }}">Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.clientes_views.clientes') }}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.costos_views.costos') }}">Costos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views.informes_views.informes') }}">Informes y Estadísticas</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mi cuenta <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.editar') }}">Mi usuario</a>
          <a class="dropdown-item" href="{{ url_for('views.emprendimientos_views.emprendimientos') }}">Mis emprendimientos</a>
          <a class="dropdown-item" href="{{ url_for('views.usuarios_views.login') }}">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  
  <br>

  <table class="table table-hover w-100" id="ventasTable">
    <thead class="info-color white-text">
      <tr>
        <th class="text-center">Fecha</th>
        <th class="text-center">Cliente</th>
        <th class="text-center">Total</th> 
        <th class="text-center"></th>
      </tr>
    </thead>
    
    {% if ventas_cliente %}
      {% for venta, cliente in ventas_cliente %}
      <tr>
        <td class="text-center">{{venta.fecha}}</td>
        <td class="text-center">{{cliente.nombre}}</td>
        <td class="text-center">{{venta.total}}</td>
        <td class="text-center"><p id="detalle{{venta.id_}}">Ver detalle</p></td>
      </tr>
      {% endfor %}

    {% else %}
    <tr>
      <td>No hay ventas registrados</td>
    </tr>
    {% endif %}

  </table>

</div>

<div class="modal fade" id="modal-venta-detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de venta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for venta, cliente in ventas_cliente %}
        
          <table class="table" id="tableLineaVenta{{venta.id_}}">
            <thead>
              <tr>
                <th class="text-center">Producto</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Cantidad</th>
              </tr>
            </thead>
          {% for linea_venta in venta.lineas_venta %}
            <tr>
              {% for producto, precio in productos_precios %}
                {% if linea_venta.id_producto == producto.id_ %}
                  <td class="text-center">{{producto.nombre}}</td>
                  <td class="text-center">${{precio}}</td>
                {% endif %}
              {% endfor %}
              <td class="text-center">{{linea_venta.cantidad}}</td>
            </tr>
          {% endfor %}
        </table>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/ventas.js') }}"></script>
{% endblock %}