{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">

  <div class="row w-100 mt-4 d-flex justify-content-start">
    <a href="{{ url_for('views.emprendimientos_views.emprendimientos') }}"><i class="fas fa-chevron-left"></i></a>
  </div>

  <form class="text-center p-5 h-100 d-flex justify-content-center align-items-center flex-column" style="width: 90%;" method="POST" action="{{ url_for('api.usuarios_api.reset_password') }}" enctype="multipart/form-data">
      
    <p class="h4 mb-4">Cambiar password</p>

    <input  type="hidden" name="id_"  value="{{user_id}}"/>

    <div class="md-form">
      <label class="form-label">Contraseña actual</label>
      <input class="form-control" type="password" name="password_actual" required />
    </div>
    
    <div class="md-form">
      <label class="form-label">Contraseña nueva</label>
      <input class="form-control" type="password" name="password_nueva" required />
    </div>

    <div class="md-form">
      <label class="form-label">Repetir contraseña nueva</label>
      <input class="form-control" type="password" name="password_confirmar" required />
    </div>

    <button class="btn btn-primary btn-block my-4 w-25 h-20" type="submit">Ingresar</button>

  </form>

</div>

<div class="modal fade" id="modal-login-error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
{% endblock %}